body {
  background-color: #FF3333;
  color: #FFFFFF;
  font-weight: bold;
}
/*p{
    object-position: center
    font:sans serif;
    font-size:22;
}*/
tr td img src{
    width:300px;
    height:300px;
}
table, td {
	border: 1px;
}
/*img.center {
    display: block;
    margin: 0 auto;
}*/
img{
    width:9em;
    height:9em;
}

thead th{
    text-align: center;
}
/*q{
    border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}*/
