html, body {
  height: 100%;
  width: 100%;
}

body.index {
  background-color: #	#F0F8FF;\
  font-weight: bold;
}

.h1 {
  font-size: 50px;
  font-family: serif, Georgia;
  color: #696969;
}

.h2 {
  font-size: 30px;
  font-family: serif, Georgia;
  color: #696969;
}

img {
	display: block;
	height: 5em;
	width: 20em;
	margin: auto;
}

/* login.html */

body.login {
  background-color: #62b1ff;
}
