body {
  background-color: #	#FF3333;\
  font-weight: bold;
}

.h1 {
  font-size: 50px;
  font-family: serif, Georgia;
  color: #FFFFFFF;
}

.h2 {
  font-size: 30px;
  font-family: serif, Georgia;
  color: #FFFFFF;
}
