html, body {
  width: 100%;
  height: 100%;
}


@font-face{ 
  font-family: 'ColabLig-webfont';
  src: url('ColabLig-webfont.eot');
  src: url('ColabLig-webfont.eot?iefix') format('eot'),
       url('ColabLig-webfont.woff') format('woff'),
       url('ColabLig-webfont.ttf') format('truetype'),
       url('ColabLig-webfont.svg#webfont') format('svg');
}

@font-face{ 
  font-family: 'ColabBol-webfont';
  src: url('ColabBol-webfont.eot');
  src: url('ColabBol-webfont.eot?iefix') format('eot'),
       url('ColabBol-webfont.woff') format('woff'),
       url('ColabBol-webfont.ttf') format('truetype'),
       url('ColabBol-webfont.svg#webfont') format('svg');
}

body{
  background-color:#F3FFBF;
}


img{
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;

  /*border: 5px #FFFFFF dotted;*/
}
p {
  /*background-color: #A7BAAD;*/
  color: black;
  width: 100%;
  text-align: center;
  font-size: 90%;
  font-weight: bold;
  font-family: ColabLig-webfont;
}

li {
  color: black;
  width: 100%;
  /*text-align: center;*/
  font-size: 90%;
  font-family: ColabLig-webfont;
}

h3 {
  background-color: #A7BAAD;
  color: black;
  width: 100%;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  font-family: ColabBol-webfont;
}

a{
  /*background-color: #A7BAAD;*/
  color: #7493D5;
  font-weight:bolder;
  text-decoration: none;
  width: 100%;
  line-height: 100%;
  display: block;
  text-align:center;
  font-size: 90%;
  font-family: ColabLig-webfont;
}

tr {
  background-color: #E6F5D4;
  width:100%;
}

td {
  padding: 10px;
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr > th > p {
  margin: auto;
  text-align: left;
  text-indent: 20px;
}

.d1 {
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;

}